<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue List Rendering</title>
</head>

<body>
    <main>
        <ul>
            <li v-for="day in days">{{day}}</li>
        </ul>
        <ul>
            <li v-for="(task, index) in tasks">{{index}} - {{task.name}} <small>({{task.priority}})</small></li>
        </ul>
        <ul>
            <li v-for="(value, key, index) in person">{{index}} - {{key}}: {{value}}</li>
        </ul>
        <pre>{{$data}}</pre>
    </main>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>